<h4><%= link_to "My Profile", user_path(session[:id])%></h4> 

<br>


<%@breeds.each do |breed|%>
    
   <h2> <%=link_to breed.name, breed_path(breed)%></h2>
    
    
<% end %>

<br>
<br>

<%= link_to 'Logout', logout_path%>